body{
    background-color: rgb(255, 205, 205);
}
.col{
    background-color: rgb(179, 238, 253);
}
.container{
    margin-top:50px;
    border: 15px paleturquoise;
    border-radius:15px;
}